#Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
    height: 54px;
}
.header-logo{
    margin-top: 4px;
}
.header-is-connected{
    display: flex;
    justify-content: center;
}
.Connected{
    margin-right: 10px;
}
.SignOut p:hover{
    cursor: pointer;
}
.style_connect{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin-right: 0.5rem;
}
.style_connect p{
    font-weight: bold;
    color: #2c3e50;
    margin-right: 0.5rem;
}
.style_connect:hover{
    text-decoration: underline;
}
.style_connect a{
    text-decoration: none;
}
.style_connect i{
    text-decoration: none;
    margin-right: 5px;
}
#Header a {
    font-weight: bold;
    color: #2c3e50;
}
.argent-bank-logo{
    width: 200px;
}
