#HeaderParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
}
.HeaderEnfant{
    display: flex;
    justify-content: center;
}
.Connected{
    margin-right: 10px;
}
.style_connect{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.style_connect a{
    text-decoration: none;
}
.style_connect i{
    text-decoration: none;
    margin-right: 5px;
}
#HeaderParent a {
font-weight: bold;
  color: #2c3e50;
}
.argentBankLogo{
    width: 200px;
}
