.bg-dark{
    background-color: #12002b;
    flex: 1;
}

.bg-dark h1, h2, p{
    color: white;
}

.ParentButton{
    margin-bottom: 35px;
}

.username-form{
    margin-bottom: 2rem
}

.username-form h1{
    color: white !important;
}

.user-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}